MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-host>/<database>?retryWrites=true&w=majority
MONGO_DB_NAME=fairgig
ANON_SALT=change_this_salt_in_production
FRONTEND_ORIGINS=http://localhost:5173,http://192.168.1.100:5173
